
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Category</h1>

<hr />

<form method="post">
    <div>
        <p>Id:</p>
        <input type="text" name="Id" />
        
    </div>
    <div>
        <p>Categori Adı:</p>
        <input type="text" name="CategoryName" />
    </div>
    <div>
        <p>Açıklama:</p>
        <input type="text" name="Description" />
    </div>
    <button type="submit">Category Oluştur</button>
</form>